<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="MyConnectionBDBascula" value="Data Source=ADRE5079CP\MSSEXPRESSS2014;Initial Catalog=BASCULA_DEV;Trusted_Connection=True"/>
  </appSettings>
</configuration>